

<div class="left-float-profile">
    <div class="profile_image"><%=image_tag("#{@github_user.retrieve_image}")%></div>
    <div class="p-login-name"><%=@github_user.user.login %></div>
    <div class="Repos"> Repositories <%=@github_user.user_repos.count %></div>


</div>
