---
http_interactions:
- request:
    method: get
    uri: https://api.github.com/users/wiseemily88/repos?access_token=5a8d6c058a8b89c092e7b297a8b2e84ed83456f0
    body:
      encoding: US-ASCII
      string: ''
    headers:
  response:
    status:
      code: 200
      message: OK
    headers:
      Content-Type:
      - application/json; charset=utf-8
      Status:
      - 200 OK
      X-Ratelimit-Limit:
      - '5000'
      X-Ratelimit-Remaining:
      - '4979'
      X-Ratelimit-Reset:
      - '1512713829'
      Etag:
      - W/"966e59294e58866012b7caa579700160"
      X-Oauth-Scopes:
      - repo
      X-Accepted-Oauth-Scopes:
      - ''
      X-Oauth-Client-Id:
      - b244c21fa74fed9e99d8
      X-Github-Media-Type:
      - github.v3; format=json
      Link:
      - <https://api.github.com/user/28613896/repos?access_token=5a8d6c058a8b89c092e7b297a8b2e84ed83456f0&page=2>;
        rel="next", <https://api.github.com/user/28613896/repos?access_token=5a8d6c058a8b89c092e7b297a8b2e84ed83456f0&page=2>;
        rel="last"
    body:
      encoding: ASCII-8BIT
      string: '[{"id":105611793,"name":"activerecord_exploration","full_name":"wiseemily88/activerecord_exploration","owner":{"login":"wiseemily88","id":28613896,"avatar_url":"https://avatars2.githubusercontent.com/u/28613896?v=4","gravatar_id":"","url":"https://api.github.com/users/wiseemily88","html_url":"https://github.com/wiseemily88","followers_url":"https://api.github.com/users/wiseemily88/followers","following_url":"https://api.github.com/users/wiseemily88/following{/other_user}","gists_url":"https://api.github.com/users/wiseemily88/gists{/gist_id}","starred_url":"https://api.github.com/users/wiseemily88/starred{/owner}{/repo}","subscriptions_url":"https://api.github.com/users/wiseemily88/subscriptions","organizations_url":"https://api.github.com/users/wiseemily88/orgs","repos_url":"https://api.github.com/users/wiseemily88/repos","events_url":"https://api.github.com/users/wiseemily88/events{/privacy}","received_events_url":"https://api.github.com/users/wiseemily88/received_events","type":"User","site_admin":false},"private":false,"html_url":"https://github.com/wiseemily88/activerecord_exploration","description":null,"fork":true,"url":"https://api.github.com/repos/wiseemily88/activerecord_exploration","forks_url":"https://api.github.com/repos/wiseemily88/activerecord_exploration/forks","keys_url":"https://api.github.com/repos/wiseemily88/activerecord_exploration/keys{/key_id}","collaborators_url":"https://api.github.com/repos/wiseemily88/activerecord_exploration/collaborators{/collaborator}","teams_url":"https://api.github.com/repos/wiseemily88/activerecord_exploration/teams","hooks_url":"https://api.github.com/repos/wiseemily88/activerecord_exploration/hooks","issue_events_url":"https://api.github.com/repos/wiseemily88/activerecord_exploration/issues/events{/number}","events_url":"https://api.github.com/repos/wiseemily88/activerecord_exploration/events","assignees_url":"https://api.github.com/repos/wiseemily88/activerecord_exploration/assignees{/user}","branches_url":"https://api.github.com/repos/wiseemily88/activerecord_exploration/branches{/branch}","tags_url":"https://api.github.com/repos/wiseemily88/activerecord_exploration/tags","blobs_url":"https://api.github.com/repos/wiseemily88/activerecord_exploration/git/blobs{/sha}","git_tags_url":"https://api.github.com/repos/wiseemily88/activerecord_exploration/git/tags{/sha}","git_refs_url":"https://api.github.com/repos/wiseemily88/activerecord_exploration/git/refs{/sha}","trees_url":"https://api.github.com/repos/wiseemily88/activerecord_exploration/git/trees{/sha}","statuses_url":"https://api.github.com/repos/wiseemily88/activerecord_exploration/statuses/{sha}","languages_url":"https://api.github.com/repos/wiseemily88/activerecord_exploration/languages","stargazers_url":"https://api.github.com/repos/wiseemily88/activerecord_exploration/stargazers","contributors_url":"https://api.github.com/repos/wiseemily88/activerecord_exploration/contributors","subscribers_url":"https://api.github.com/repos/wiseemily88/activerecord_exploration/subscribers","subscription_url":"https://api.github.com/repos/wiseemily88/activerecord_exploration/subscription","commits_url":"https://api.github.com/repos/wiseemily88/activerecord_exploration/commits{/sha}","git_commits_url":"https://api.github.com/repos/wiseemily88/activerecord_exploration/git/commits{/sha}","comments_url":"https://api.github.com/repos/wiseemily88/activerecord_exploration/comments{/number}","issue_comment_url":"https://api.github.com/repos/wiseemily88/activerecord_exploration/issues/comments{/number}","contents_url":"https://api.github.com/repos/wiseemily88/activerecord_exploration/contents/{+path}","compare_url":"https://api.github.com/repos/wiseemily88/activerecord_exploration/compare/{base}...{head}","merges_url":"https://api.github.com/repos/wiseemily88/activerecord_exploration/merges","archive_url":"https://api.github.com/repos/wiseemily88/activerecord_exploration/{archive_format}{/ref}","downloads_url":"https://api.github.com/repos/wiseemily88/activerecord_exploration/downloads","issues_url":"https://api.github.com/repos/wiseemily88/activerecord_exploration/issues{/number}","pulls_url":"https://api.github.com/repos/wiseemily88/activerecord_exploration/pulls{/number}","milestones_url":"https://api.github.com/repos/wiseemily88/activerecord_exploration/milestones{/number}","notifications_url":"https://api.github.com/repos/wiseemily88/activerecord_exploration/notifications{?since,all,participating}","labels_url":"https://api.github.com/repos/wiseemily88/activerecord_exploration/labels{/name}","releases_url":"https://api.github.com/repos/wiseemily88/activerecord_exploration/releases{/id}","deployments_url":"https://api.github.com/repos/wiseemily88/activerecord_exploration/deployments","created_at":"2017-10-03T03:43:10Z","updated_at":"2017-10-03T03:43:11Z","pushed_at":"2017-06-30T15:55:56Z","git_url":"git://github.com/wiseemily88/activerecord_exploration.git","ssh_url":"git@github.com:wiseemily88/activerecord_exploration.git","clone_url":"https://github.com/wiseemily88/activerecord_exploration.git","svn_url":"https://github.com/wiseemily88/activerecord_exploration","homepage":null,"size":29,"stargazers_count":0,"watchers_count":0,"language":"Ruby","has_issues":false,"has_projects":true,"has_downloads":true,"has_wiki":true,"has_pages":false,"forks_count":0,"mirror_url":null,"archived":false,"open_issues_count":0,"license":null,"forks":0,"open_issues":0,"watchers":0,"default_branch":"master","permissions":{"admin":true,"push":true,"pull":true}},{"id":113268722,"name":"Apicurious","full_name":"wiseemily88/Apicurious","owner":{"login":"wiseemily88","id":28613896,"avatar_url":"https://avatars2.githubusercontent.com/u/28613896?v=4","gravatar_id":"","url":"https://api.github.com/users/wiseemily88","html_url":"https://github.com/wiseemily88","followers_url":"https://api.github.com/users/wiseemily88/followers","following_url":"https://api.github.com/users/wiseemily88/following{/other_user}","gists_url":"https://api.github.com/users/wis[...]
